<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        {{title}}
    </h1>
</div>
<hr>
<div align="center">
    <label for="name">Name</label>
    <input id="name" type="string" name="name" [(ngModel)]="name" />
    <label for="number">Initiative</label>
    <input id="number" type="number" name="number" [(ngModel)]="init" />
    <label for="hp">HP</label>
    <input id="hp" type="number" name="hp" [(ngModel)]="hp" />
    <label for="maxhp">Max HP</label>
    <input id="maxhp" type="number" name="maxhp" [(ngModel)]="maxhp" />
    <label for="notes">Notes</label>
    <textarea id="notes" type="string" name="notes" [(ngModel)]="notes"></textarea>
    <button type="button" (click)="add()">Add</button>

</div>
<hr>
<div style="text-align:center" *ngIf="list.length > 0">
    <h2>
        {{ list[0]['name'] }}'s turn
    </h2>
    <button type="button" (click)="next()">Next</button>
    <button type="button" (click)="sort()">Sort</button>
</div>

<hr>

<mat-table #table [dataSource]="data">
    <ng-container matColumnDef="order">
        <mat-header-cell *matHeaderCellDef> Order </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="init">
        <mat-header-cell *matHeaderCellDef> Initiative </mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.init}}&nbsp;
            <input type="number" [(ngModel)]='user.init'/>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="notes">
        <mat-header-cell *matHeaderCellDef> Notes </mat-header-cell>
        <mat-cell *matCellDef="let user">
            <textarea>{{user.notes}}</textarea>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="hp">
        <mat-header-cell *matHeaderCellDef> HP </mat-header-cell>
        <mat-cell *matCellDef="let user;let index=index">
            {{user.hp}}
            <input type="number" [(ngModel)]="hpChange[user.id]" value="1" />
            <button type="button" (click)="heal(user, user.id)">+</button>
            <button type="button" (click)="damage(user,user.id)">-</button>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="maxhp">
        <mat-header-cell *matHeaderCellDef> Max HP </mat-header-cell>
        <mat-cell *matCellDef="let user;">
            {{user.maxhp}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="remove">
        <mat-header-cell *matHeaderCellDef> Remove </mat-header-cell>
        <mat-cell *matCellDef="let user">
            <button type="button" (click)="remove(user.id)">X</button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['order','name', 'init','notes', 'maxhp', 'hp', 'remove']"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: ['order','name', 'init','notes', 'maxhp','hp', 'remove']"></mat-row>
</mat-table>
