<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{title}}!!
    </h1>
</div>
<div style="text-align:center">
    <h2 *ngIf="list.length > 0">
        {{ list[0]['name'] }}'s turn
    </h2>
</div>
<div>
    <label for="name">Name</label>
    <input id="name" type="string" name="name" [(ngModel)]="name" />
    <label for="number">Number</label>
    <input id="number" type="number" name="number" [(ngModel)]="init" />
    <button type="button" (click)="add()">Add</button>
    <button type="button" (click)="next()">Next</button>
    <button type="button" (click)="sort()">Sort</button>
</div>

<ol>
  <li *ngFor="let i of list" class="col-1-4">
    {{i.name}}
    <button type="button" (click)="remove(i.id)">X</button>
  </li>
</ol>
